@model IEnumerable<TestTask.Models.Department>
@{
    void showDepartment(Department department)
    {
        if (department.ChildDepartments.Count != 0)
        {
            <div class="accordion mt-2 mb-2">

                <div class="accordion-item">

                    <div class="containerHeaderAccordion">
                        <h2 class="accordion-header containerHeaderAccordionBlock1" id="heading@(department.ID)">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse@(department.ID)" aria-expanded="false"
                                    aria-controls="collapse@(department.ID)">
                                @(department.Name) (@department.Code)
                            </button>
                        </h2>

                        <div class="containerHeaderAccordionBlock2 ms-2 me-2">
                            @Html.ActionLink("Подробнее", nameof(DepartmentsController.Details), new { id = department.ID }, new { @class = "btn btn-outline-dark" })
                        </div>
                    </div>

                    <div id="collapse@(department.ID)" class="accordion-collapse collapse" aria-labelledby="heading@(department.ID)">
                        <div class="accordion-body">
                            @foreach (var childDepartment in department.ChildDepartments)
                            {
                                showDepartment(childDepartment);
                            }
                        </div>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="containerHeaderAccordion border rounded mt-2 mb-2">
                <div class="containerHeaderAccordionBlock1 p-3">
                    @(department.Name) (@department.Code)
                </div>

                <div class="containerHeaderAccordionBlock2 ms-2 me-2">
                    @Html.ActionLink("Подробнее", nameof(DepartmentsController.Details), new { id = department.ID }, new { @class = "btn btn-outline-dark" })
                </div>
            </div>
        }
    }
}



<h2>Отделы</h2>
<hr />

<div class="mt-4">
    @Html.ActionLink("Добавить отдел", nameof(DepartmentsController.Create), null, htmlAttributes: new { @class = "btn btn-outline-success" })
</div>

<div class="mt-4">
    @foreach (var department in Model)
    {
        showDepartment(department);
    }
</div>
